.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    height: 3rem;
    width: 4rem;
    object-fit: cover;
}
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    padding-bottom: 0.5rem;
    color: yellow;
    border-bottom:3px solid yellow;
}
.desktopMenubtn{
    background: white;
    color:black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuImg{
    height: 1rem;
    width: 1rem;
    object-fit: cover;
    margin: 1rem 0.3rem;

}

.active{
    color: yellow;
    padding-bottom: 0.4rem;
    border-bottom: 3px solid yellow;
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}
.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}
.mobmenu{
    display: none;
    height: 1.8rem;
    object-fit: cover;
    
}
.desktopMenubtn:hover{
   cursor: pointer;
}
@media screen and (max-width:720px) {
   .mobmenu{
    display: flex;
   } 
   .desktopMenu{
    display: none;
   }
   .desktopMenubtn{
    display: none;
   }
}
@media screen and (max-width:480px) {
    .mobmenu{
        margin-right: -2rem;
        background: rgb(40, 40, 40);
    }
}